@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-one{
  display: flex;
  align-items: center;
  width: 200px;
  padding: .2em .8em;
  gap: 1rem;
  border: inherit;
  border-radius: 15px;

  &:hover{
    background-color: rgba(171, 160, 160, 0.1);
  }
}

.card-avatar{
  /* border: 1px solid white; */
  border-radius: 50%;
  &:hover{
   /* background-color: grey; */
  }
}

.left-nav-bar{
  height: 100vh;
  width: 420px;
  border-right: 5px solid ;
  
  >*>*{
    text-align: center;
    padding: .5em;

    &:hover{
      color: black;
      background-color: red;
    }
  }
}

