@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --c1: #FFE9D0;
  --c2: #FFFED3;
  --c3: #BBE9FF;
  --c4: #B1AFFF;

  --g1: #DEF9C4;
  --g2: #9CDBA6;
  --g3: #50B498;
  --g4: #468585;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-one{
  display: flex;
  align-items: center;
  width: 200px;
  padding: .2em .8em;
  margin: .5em;
  border: inherit;
  border-radius: 15px;

  &:hover{
    background-color: rgba(212, 255, 0, 0.1);
  }
}

.card-avatar{
  /* border: 1px solid white; */
  border-radius: 50%;
}

.left-nav-bar{
  height: 100vh;
  width: 420px;
  background-color: rgb(49, 45, 40); 
  >*>*{
    text-align: center;
    padding: .5em;

    &:hover{
      color: black;
      background-color: rgb(184, 184, 184);
      border-radius: 2%;
    }
  }
}

.shopping-list-container{
  width: 100%;

  h1{
    border-bottom: 2px solid white;
  }
}

.admin-card{
  border: 1px solid wheat;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;

  .delete-btn{
    align-content: center;
  }

  >*{
    border: 1px solid white;
    padding: .5em;
  }
}