@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --c1: #FFE9D0;
  --c2: #fff3d3;
  --c3: #BBE9FF;
  --c4: #B1AFFF;

  --g1: #DEF9C4;
  --g2: #9CDBA6;
  --g3: #50B498;
  --g4: #468585;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-one {
  display: flex;
  align-items: center;
  width: 200px;
  padding: .5em .8em;
  margin: .5em;
  border: inherit;
  border-radius: 15px;
  gap: .4em;

  &:hover {
    background-color: rgba(212, 255, 0, 0.1);
  }
}

.select-headless {
  select {
    background-color: transparent;
  }

  select:focus {
    outline: none;
    /* Consider adding an alternative focus style for accessibility */
    box-shadow: none;
  }
}

.card-form {
  position: fixed;
  z-index: 10;
  top: 20%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: .4em;
  width: 400px;

  background-color: var(--c2);
  color: #000;

  input {
    background-color: rgb(205, 188, 188);
    border-radius: 12px;
  }

  >* {
    padding: 1em;
    margin: .1em 0;
    width: 99%;
    text-align: center;
  }

  .id {
    font-size: 2em;
    font-weight: lighter;
    opacity: 0.4;
    text-align: center;
  }

  .close-icon {
    display: flex;
    justify-content: end;
    margin-right: 1em;
    padding: .2em;
    cursor: pointer;
  }

  .name {
    max-width: 200px;
  }

  .name:focus {
    background-color: var(--c1);
    outline: none;
    box-shadow: 0 0 10px black;
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 1.2em;


    >* {
      border: 1px solid var(--c4);
      border-radius: 15px;
      padding: .5em 1em;
      cursor: pointer;
      /* Pointer cursor on hover */
    }

    >*:hover {
      transform: scale(1.2);
    }

    /* .delete:hover{
      background-color: rgb(134, 7, 33);
    }

    .save:hover{
      background-color: #468585;
    }
     */
  }

}


.card-avatar {
  /* border: 1px solid white; */
  border-radius: 50%;
}

.left-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  width: 320px;
  background-color: rgb(49, 45, 40);

  .bottom-bar {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    width: 80%;
    margin: 1em auto;

    &:hover {
      background-color: rgb(108, 100, 100);

    }
  }

  a {
    display: flex;
    font-size: 48px;
    gap: 10px;
    align-items: center;
  }

  img {
    width: 100px;
    border-radius: 10px;
  }

  >*>* {
    text-align: center;
    padding: .5em;

    &:hover {
      color: black;
      background-color: rgb(184, 184, 184);
      border-radius: 2%;
    }
  }
}

.shopping-list-container {
  width: 100%;

  h1 {
    border-bottom: 2px solid white;
  }
}

.form-add-ingredient {
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(192, 206, 157);

  >*>* {
    margin: 0 .2em;
    height: 24px;
    padding: 0 .5em;
    border-radius: 2px;
  }

  button {
    align-items: center !important;
    padding-top: 8px;
    transform: scale(1.5);

    &:hover {
      color: white;
    }
  }
}



.border-corner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 15px solid red;
  /* Adjust the width as needed */
  border-left: 15px solid red;
  /* Adjust the width as needed */
  border-radius: 80%;
}

.admin-card {
  position: relative;
  border-left: 2px solid #B1AFFF;
  border-radius: 5px;
  padding: .2em;
  margin: 1em 0;
  /* color: #303030;
  background-color: #50B498; */

  display: grid;
  grid-template-columns: 1fr .1fr .1fr;
  grid-template-rows: auto;
  align-self: center;

  .admin-btns {
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 1em;

    *> {
      align-content: center;
    }
  }

  >* {
    border: 1px solid white;
    padding: .5em;
    cursor: pointer;
  }

  >*>*:hover {
    transform: scale(1.2);
  }
}


@media screen and (max-width: 600px) {
  .left-nav-bar {
    min-width: 80px;
    max-width: 80px;

    img {
      width: 60px;
      margin: 0 auto;
    }

    .hide-mobil {
      display: none;
    }
  }

}